<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark elegant-color ie-nav" [containerInside]="false">
	<mdb-navbar-brand>
		<a class="logo navbar-brand" href="#"><strong>RS485 - View</strong></a>
	</mdb-navbar-brand>
	<links>
		<ul class="navbar-nav mr-auto">
			<!--
			<li class="nav-item active waves-light" mdbWavesEffect>
				<a class="nav-link">Home <span class="sr-only">(current)</span></a>
			</li>

			<li class="nav-item waves-light" mdbWavesEffect>
				<a class="nav-link">Taxa de amostragem</a>
			</li>
			
			<li class="nav-item waves-light" mdbWavesEffect>
				<a class="nav-link">Pricing</a>
			</li>
			<li class="nav-item waves-light" mdbWavesEffect>
				<a class="nav-link">Opinions</a>
			</li>
			-->
		</ul>

		<ul class="navbar-nav nav-flex-icons">
			<li *ngIf="_length(chartData)" class="nav-item waves-light" mdbWavesEffect>
				<a class="nav-link" (click)="frame.show()">
					<mdb-icon fas icon="cog"></mdb-icon>Configurações
				</a>
			</li>
		</ul>
		-
	</links>
</mdb-navbar>
<!-- Main -->
<main>
	<div class="container-fluid">
		<div class="pt-3"></div>

		<div class="alert alert-{{ alert.type }}" role="alert" *ngIf="alert">
			{{ alert.message }}
		</div>

		<div class="row">
			<div *ngFor="let key of objectKeys(chartData)" class="col-md-6">
				<mdb-card>
					<mdb-card-body>
						<mdb-card-title>
							<h4>Sensor {{ key }}</h4>
						</mdb-card-title>
						<mdb-card-text>
							<div class="row">
								<div class="col-md-12">
									<div class="chart">
										<ngx-charts-line-chart [view]="view" [scheme]="lineChartColorScheme"
											[results]="chartData[key].data" [gradient]="lineChartGradient"
											[xAxis]="lineChartShowXAxis" [yAxis]="lineChartShowYAxis"
											[legend]="lineChartShowLegend" [showXAxisLabel]="lineChartShowXAxisLabel"
											[showYAxisLabel]="lineChartShowYAxisLabel"
											[xAxisLabel]="chartData[key].legendX" [yAxisLabel]="chartData[key].legendY"
											[autoScale]="lineChartAutoScale" [timeline]="timeline" [animations]="false"
											[curve]="lineChartLineInterpolation" (select)="onSelect($event)">
										</ngx-charts-line-chart>
									</div>
								</div>
							</div>
						</mdb-card-text>
					</mdb-card-body>
				</mdb-card>
			</div>
		</div>
	</div>
</main>
<!-- /.Main -->

<!-- Modal -->
<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header text-center">
				<h4 class="modal-title w-100 font-weight-bold">Configurações</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form novalidate="" (ngSubmit)="settingSubmit()" [formGroup]="settingForm">
					<div class="form-group">
						<label>Selecione o sensor:</label>
						<select class="form-control" formControlName="sensorKey">
							<option *ngFor="let key of objectKeys(chartData)" value="{{ key }}" selected>
								{{ key }}</option>
						</select>
					</div>
					<div class="form-group">
						<label>Nome:</label>
						<input type="text" formControlName="name" class="form-control">
					</div>

					<div class="form-group">
						<label>Tempo de amostragem (em ms):</label>
						<input type="number" formControlName="sampleTime" class="form-control">
					</div>

					<div class="row">
						<div class="col">
							<div class="form-group">
								<label>Legenda (eixo X):</label>
								<input type="text" formControlName="legendX" class="form-control">
							</div>
						</div>
						<div class="col">

							<div class="form-group">
								<label>Legenda (eixo Y):</label>
								<input type="text" formControlName="legendY" class="form-control">
							</div>
						</div>
					</div>

					<div class="form-group">
						<label>Valor desejado:</label>
						<input type="number" formControlName="setPoint" class="form-control">
					</div>

					<div class="form-group">
						<label>Função de conversão f(x=ADC):</label>
						<input type="text" formControlName="function" class="form-control">
					</div>
				</form>

			</div>
			<div class="modal-footer d-flex justify-content-center">
				<button [disabled]="settingForm.invalid" mdbBtn color="dark" class="waves-light" mdbWavesEffect>Aplicar
					definições</button>
			</div>
		</div>
	</div>
</div>
<!--/.Modal-->